name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 1,15 * *" # Runs on 1st and 15th of each month
  workflow_dispatch: # Allows manual trigger

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Pralhad-Nasane
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?color_snake=#a78bfa&color_dots=#161b22,#5b21b6,#7c3aed,#8b5cf6,#a78bfa
            dist/github-contribution-grid-snake.svg?color_snake=#8b5cf6&color_dots=#ebedf0,#5b21b6,#7c3aed,#8b5cf6,#a78bfa
        
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
